* {
  margin: 0;
  padding: 0;
}

#container {
  margin: 9vh;
  box-shadow: 0 0 30px 10px rgb(153, 151, 151);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

#section1 {
  align-self: stretch;
}

#section2 {
  background-color: #2e1801;
  color: whitesmoke;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: flex-start;
}

.button {
  width: 12rem;
  height: 2.5rem;
  border-radius: 5px;
  background-color: orange;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 768px) {
  #container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
  }

  img {
    width: 100%;
    height: auto;
  }
}
