* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #eeeded;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-family: sans-serif;
}

.blog_container {
  width: 90%;
  min-height: 90vh;
  margin: 0 5%;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.blogpost {
  width: 250px;
  min-height: 200px;
  background-color: #fff;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  row-gap: 10px;
}

.icons {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
}

.fa-edit {
  font-size: 25px;
  color: burlywood;
  cursor: pointer;
}

.fa-trash {
  font-size: 25px;
  color: red;
  cursor: pointer;
}

.title {
  font-size: 25px;
  font-weight: bold;
}

.desc {
  font-size: 16px;
  color: #464646;
}

.add_post {
  width: 250px;
  min-height: 205px;
  background-color: #fff;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  row-gap: 10px;
}

.btn_addpost {
  height: 60px;
  width: 150px;
  background-color: rgb(59, 180, 59);
  border: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.btn_addpost:hover {
  background-color: green;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.new_Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.hide_modal {
  display: none;
}

.cancel {
  height: 30px;
  width: 500px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.fa-close {
  font-size: 30px;
  cursor: pointer;
  color: red;
}

.add_title,
.add_desc,
.edit_title,
.edit_desc {
  height: 40px;
  width: 200px;
  border: 1px solid green;
  outline: none;
  font-size: 16px;
  letter-spacing: 0.1ch;
  padding-left: 10px;
}

.add_blogPost,
.edited_blogPost {
  height: 50px;
  width: 200px;
  background-color: rgb(59, 180, 59);
  border: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
