:root {
  --blue-color: #2874ef;
  --rating-bgColor: #189118;
  --rating-desc-color: #a5a5a5;
  --background-color: #fffefe;
  --grey-shade: #e6e6e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
}
.nav-top {
  background-color: var(--blue-color);
  display: flex;
  height: 55px;
  width: 100vw;
}

.nav-bottom {
  height: 40px;
}

.nav-bottom {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}

.top-left {
  width: 70%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.top-right {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}

.logo {
  color: white;
  font-size: 1rem;
  height: 80px;
  font-family: sans-serif;
  letter-spacing: 0.1ch;
}

.search {
  width: 550px;
  height: 65%;
  padding: 13px;
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: 0.9rem;
  letter-spacing: 0.1ch;
  margin-right: 10px;
}

.dropbtn-login {
  background-color: white;
  color: var(--blue-color);
  border-radius: 2px;
  font-weight: bolder;
  cursor: pointer;
  padding: 7px 40px;
  font-size: 0.9rem;
  outline: none;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-left: -50%;

  display: none;
  background-color: var(--background-color);
  min-width: 230px;
  position: absolute;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 25px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--grey-shade);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.new-customer {
  font-size: 0.9rem;
}

.signup {
  color: var(--blue-color);
}

.dropbtn-more,
.dropbtn-cart {
  background-color: var(--blue-color);
  color: white;
  border-radius: 2px;
  font-weight: bolder;
  cursor: pointer;
  letter-spacing: 0.1ch;
  padding: 5px 40px;
  font-size: 0.9rem;
  outline: none;
  border: none;
}

.link {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 1.1rem;
}

.link_ {
  text-decoration: none;
  color: black;
}

.container {
  width: 100%;
  min-height: 240vh;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ctn-left {
  min-height: 100%;
  background-color: var(--background-color);
  flex: 1;
  font-size: 15px;
  margin: 105px 5px 0 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 10px;
  padding: 0;
  box-sizing: border-box;
}

.ctn-right {
  min-height: 100%;
  flex: 6;
  display: flex;
  margin: 105px 10px 0 5px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

hr {
  border: 0.1px solid var(--grey-shade);
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 0 10px 0;
}

.mobile {
  color: var(--rating-desc-color);
  font-size: 14px;
}

.flex-items {
  color: #535252;
}

.margin-left {
  margin-left: 13px;
}

.price-range {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.range {
  width: 230px;
  display: block;
}

.priceMinMax {
  display: flex;
  justify-content: space-between;
}

.priceSelect {
  width: 100px;
  border: 1px solid var(--rating-desc-color);
}
.black-heading {
  color: black;
}

.blue-color {
  color: var(--blue-color);
}

.search-brand {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid var(--blue-color);
  outline: none;
  color: var(--rating-desc-color);
  font-weight: 600;
  font-size: 13px;
}

.item-ctn {
  padding: 30px 10px;
  width: 100%;
  display: flex;
  background-color: var(--background-color);
  margin-bottom: 0.5px;
}

.item-ctn .item-left {
  display: flex;
  flex: 5;
  background-color: var(--background-color);
  height: 230px;
  gap: 5vw;
  justify-content: flex-end;
}

.item-ctn .item-right {
  flex: 2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--background-color);
}

.horizontal-line {
  width: 100%;
  height: 1px;
}

.sidebar-padding {
  padding: 10px 20px;
  width: 270px;
}

li {
  list-style-type: none;
  line-height: 22px;
  font-size: 14px;
}

.phone-name {
  margin-left: -40px;
  font-size: 16px;
  font-weight: bold;
}

.rating {
  width: 45px;
  background-color: var(--rating-bgColor);
  color: white;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 7px;
  font-size: 14px;
  padding: 1px;
  text-align: center;
  border-radius: 3px;
}

.rating-desc {
  font-size: 15px;
  color: var(--rating-desc-color);
}

.price {
  font-size: 25px;
}

.flip_assured {
  width: 80px;
}
@media screen and (max-width: 992px) {
  .nav-bottom {
    gap: 2vw;
  }

  .search {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .top-left {
    width: 350px;
  }

  .top-right {
    display: flex;
    gap: 0;
    justify-content: flex-start;
  }
  .nav-bottom {
    gap: 1vw;
  }

  .item-ctn {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .ctn-left {
    width: 170px;
  }

  .search {
    width: 300px;
  }

  .phone-name {
    margin: 0;
  }

  .range,
  .priceMinMax,
  .search-brand {
    width: 150px;
  }

  .priceSelect {
    width: 55px;
  }

  .sidebar-padding {
    padding: 0 10px;
  }
}

@media screen and (max-width: 600px) {
  #top-left {
    width: 400px;
  }
  .item-left {
    flex-direction: column;
    align-items: center;
  }
}
